.App {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: var(--white);
  background-color: var(--black);
}

.SelectShape {
  display: flex;
  flex-flow: column;
  gap: 12px;
}
.button {
  font-size: 1.5rem;
  width: 100%;

}
.button.X {
  color: var(--blue);
}
.button.X:hover {
  color: var(--white);
  background-color: var(--blue);
  transition: 0.5s;
}
.button.O {
  color: var(--red);
}
.button.O:hover {
  color: var(--white);
  background-color: var(--red);
  transition: 0.5s;
}

.Board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin-bottom: 24px;
}

.Square {
  font-size: 2rem;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
}
.Square:hover {
  background-color: rgb(63, 63, 63);
  transition: 0.2s;
}

.EndGame {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;
}